<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujia.topbang.api.mapper.ProductTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yujia.topbang.api.entity.ProductTagDO">
        <id column="id" property="id" />
        <result column="prod_id" property="prodId" />
        <result column="tag_id" property="tagId" />
        <result column="tag_name" property="tagName" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prod_id, tag_id, tag_name, gmt_create, gmt_modified, is_deleted
    </sql>

</mapper>
