<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujia.topbang.api.mapper.SpaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yujia.topbang.api.entity.SpaceDO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="total_size" property="totalSize" />
        <result column="used_size" property="usedSize" />
        <result column="free_size" property="freeSize" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, total_size, used_size, free_size, gmt_create, gmt_modified, is_deleted
    </sql>

</mapper>
