<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujia.topbang.api.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yujia.topbang.api.entity.UserDO">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="name" property="name"/>
        <result column="head_img" property="headImg"/>
        <result column="company_name" property="companyName"/>
        <result column="passwd" property="passwd"/>
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="id_type" property="idType"/>
        <result column="id_card" property="idCard"/>
        <result column="role" property="role"/>
        <result column="type" property="type"/>
        <result column="gmt_register" property="gmtRegister"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, name, head_img, company_name, passwd, sex, phone, email, id_type, id_card, role, type, gmt_register, gmt_create, gmt_modified, is_deleted
    </sql>

</mapper>
