<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="top-bang"/>
    <contextName>${APP_NAME}</contextName>
    <property name="log.path" value="log"/>
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 解决控制台一直提示 Closing connections idle longer than 60000 MILLISECONDS -->
    <logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
        <level value="WARN"/>
        <appender-ref ref="console"/>
    </logger>

    <!--TRACE, DEBUG, INFO, WARN, ERROR-->
    <root level="debug">
        <appender-ref ref="console"/>
    </root>

</configuration>