<div class="layui-form" lay-filter="layuiadmin-form-banner" style="padding: 20px 30px 0 0;">
<!--    <div class="layui-form-item">-->
<!--        <div class="layui-inline">-->
<!--            <label class="layui-form-label">分组ID</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <script type="text/html" template>-->
<!--                    <select id="groupId" name="groupId">-->
<!--                    </select>-->
<!--                </script>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label">标题</label>-->
<!--        <div class="layui-input-block">-->
<!--            <script type="text/html" template>-->
<!--                <input type="text" name="title" value="{{ d.params.title || '' }}" lay-verify="required"-->
<!--                       placeholder="请输入" autocomplete="off" class="layui-input">-->
<!--            </script>-->
<!--        </div>-->
<!--    </div>-->

    <div class="layui-form-item">
        <label class="layui-form-label">链接地址</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" name="linkUrl" value="{{ d.params.linkUrl || '' }}" lay-verify="required"
                       placeholder="请输入" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片地址</label>
        <div class="layui-input-inline">
            <button type="button" class="layui-btn" id="imgUrl1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <script type="text/html" template>
                <img class="layui-upload-img" name="img_url" id="img_url"
                     {{# if(d.params.imgUrl) { }}
                     width="200" height="100"
                     src="{{ d.params.imgUrl || '' }}"
                     {{# } }}
                />
                <input type="hidden" id="imgUrl" name="imgUrl" value="{{ d.params.imgUrl || '' }}"/>
            </script>
        </div>
    </div>

<!--    <div class="layui-form-item">-->
<!--        <div class="layui-inline">-->
<!--            <label class="layui-form-label">打开方式</label>-->
<!--            <div class="layui-input-block">-->
<!--                <script type="text/html" template>-->
<!--                    <input type="checkbox" lay-filter="switch" name="openMode" value="1" {{ d.params.openMode== 1-->
<!--                           ? 'checked' : '' }} lay-skin="switch" lay-text="当前页面|跳转打开">-->
<!--                </script>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                <script type="text/html" template>
                    <input type="checkbox" lay-filter="switch" name="isShow" value="1" {{ d.params.isShow== 1
                           ? 'checked' : '' }} lay-skin="switch" lay-text="是|否">
                </script>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" name="sort" value="{{ d.params.sort || 0 }}" required lay-verify="number"
                       autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-banner-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>

<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
</script>

<script>
    layui.data.sendParams = function (params) {
        layui.use(['admin', 'form', 'laydate', 'layedit', 'upload'], function () {
            var $ = layui.$
                , admin = layui.admin
                , element = layui.element
                , layer = layui.layer
                , laydate = layui.laydate
                , form = layui.form
                , upload = layui.upload
                , layedit = layui.layedit;

            // 绑定上传按钮执行实例
            upload.render({
                elem: '#imgUrl1' //绑定元素
                , url: layui.setter.request.url + '/mgr/upload/oss/banner' //上传接口
                , headers: {
                    accessToken: layui.data([layui.setter.tableName])[layui.setter.request.tokenName]
                }
                , acceptMime: 'image/*'
                , field: 'file'
                , done: function (res) {
                    //上传完毕回调
                    $("#img_url").attr('src', res.data.src).attr('width', '200').attr('height', '100');
                    $("#imgUrl").attr('value', res.data.src);
                }
                , error: function () {
                    //请求异常回调
                }
            });

            admin.req({
                url: layui.setter.request.url + '/mgr/banner/getBannerGroup'
                , dataType: 'json'
                , contentType: "application/json"
                , method: 'GET'
                , success: function (data) {
                    $.each(data.data, function (index, item) {
                        // 下拉菜单里添加元素
                        $("select[name='groupId']").append(new Option(item.name, item.id));
                    });
                    // 设置默认选中
                    if (params.groupId) {
                        $("select[name='groupId']").val(params.groupId);
                    } else {
                        $("select[name='groupId']").val(1);
                    }
                    layui.form.render("select");
                    layer.closeAll('loading');
                }
            });

            form.render();
        });
    };
</script>
