<title>首页栏目</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>产品管理</cite></a>
        <a><cite>首页栏目</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
            </div>

            <table id="LAY-index-category-list" lay-filter="LAY-index-category-list"></table>

            <script type="text/html" id="table-index-category-list">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script>
    layui.use(['product', 'table2'], layui.factory('product')).use(['admin', 'product', 'table2'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , table2 = layui.table2
            , form = layui.form;

        form.render(null, 'layadmin-userfront-formlist');

        //监听搜索
        form.on('submit(LAY-product-search)', function (data) {
            var field = data.field;

            //执行重载
            table2.reload('LAY-product-list', {
                page: {
                    curr: 1
                }
                , where: field
            });
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-user-manage')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }

                layer.prompt({
                    formType: 1
                    , title: '敏感操作，请验证口令'
                }, function (value, index) {
                    layer.close(index);

                    layer.confirm('确定删除吗？', function (index) {

                        //执行 Ajax 后重载
                        /*
                        admin.req({
                          url: 'xxx'
                          //,……
                        });
                        */
                        table2.reload('LAY-user-manage');
                        layer.msg('已删除');
                    });
                });
            }
            , add: function () {
                admin.popup({
                    title: '添加'
                    , area: ['500px', '500px']
                    , id: 'LAY-popup-product-index-category-add'
                    , success: function (layero, index) {
                        view(this.id).render('product/indexcategoryform').done(function () {
                            form.render(null, 'layuiadmin-form-useradmin');

                            //监听提交
                            form.on('submit(LAY-product-index-category-submit)', function (data) {
                                var field = data.field; //获取提交的字段

                                //提交 Ajax 成功后，关闭当前弹层并重载表格
                                admin.req({
                                    url: layui.setter.request.url + '/mgr/product/indexCategorySave'
                                    , data: JSON.stringify(field)
                                    , dataType: 'json'
                                    , contentType: "application/json"
                                    , type: 'POST'
                                    , success: function (res) {
                                        //执行重载
                                        table2.reload('LAY-index-category-list'); //重载表格
                                        layer.close(index); //执行关闭
                                    }
                                });

                            });
                        });
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
