<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">标签名</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="tagName" value="{{ d.params.tagName || '' }}" lay-verify="required"
                       placeholder="请输入标签名" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签编码</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="tagCode" value="{{ d.params.tagCode || '' }}" lay-verify="required"
                       placeholder="请输入编码" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-tag-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form'], function () {
        var $ = layui.$
            , form = layui.form;
    })
</script>
