<title>消息列表</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>消息管理</cite></a>
        <a><cite>消息列表</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-notice-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="userId" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-notice-back-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="LAY-notice-manage" lay-filter="LAY-notice-manage"></table>
        </div>
    </div>
</div>

<script>
    layui.use(['notice', 'table2'], layui.factory('notice')).use(['admin', 'notice'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , table2 = layui.table2
            , form = layui.form;

        form.render(null, 'layadmin-notice-formlist');

        //监听搜索
        form.on('submit(LAY-notice-back-search)', function (data) {
            var field = data.field;

            //执行重载
            table2.reload('LAY-notice-manage', {
                page: {
                    curr: 1
                }
                , where: field
            })
            ;
        });
    });
</script>